.grid1
{
  display: grid;
  grid-template: 10% 1fr 1fr 1fr  10%/ 1fr 2fr 3fr
}
.header1
{
  grid-area: 1/1/1/4;
}
.grid3
{
  display: grid;
  grid-template: 50% 50%/ 25% 25% 25% 25%;
}
.big_img{
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid2
{
  display: grid;
  grid-template: 20% 80%/ 50% 50%;
  text-align: left;
  border: 1px;
}